<h2>ToDO Application</h2>
<div class="container">
  <div class="row shadow">
    <div class="col-3 left-sid-wrapper">
      <button type="button" class="btn btn-primary mt-3 add-task-wrapper-btn text-truncate" data-target="#exampleModalLong" data-toggle="modal" (click)="addTask()" >Add Task</button>
      <button type="button" class="btn btn-primary mt-3 add-task-wrapper-btn text-truncate" (click)="allData()">All Data</button>
      <p class="text-truncate mt-1">Assignee</p>
      <div class="assignee-container" *ngFor="let assignee of assigneeCheckeBox">
        <div class="d-flex">
          <input type="checkbox" [checked]="assignee.checked" class="mr-3" (click)="assigneeFilter(assignee)"/>
          <p class="text-truncate mt-3">{{assignee.assigneeName}}</p>
        </div>
      </div>
      <hr class="text-truncate mt-1">
      <div class="d-flex" (click)="completedTask()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2 mt-1" viewBox="0 0 16 16">
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </svg>
        <p class="text-truncate ml-2">Completed</p>
      </div>
      <div>
        <p class="text-truncate">Tags</p>
        <div class="d-flex" (click)="tagsFilter('team')">
          <span class="team-rounded-circle mr-3 mt-1"></span>
          <p class="text-truncate">Team</p>
        </div>
        <div class="d-flex" (click)="tagsFilter('low')">
          <span class="low-rounded-circle mr-3 mt-1"></span>
          <p class="text-truncate">Low</p>
        </div>
        <div class="d-flex" (click)="tagsFilter('medium')">
          <span class="medium-rounded-circle mr-3 mt-1"></span>
          <p class="text-truncate">Medium</p>
        </div>
        <div class="d-flex" (click)="tagsFilter('high')">
          <span class="highrounded-circle mr-3 mt-1"></span>
          <p class="text-truncate">High</p>
        </div>
        <div class="d-flex" (click)="tagsFilter('update')">
          <span class="update-rounded-circle mr-3 mt-1"></span>
          <p class="text-truncate">Update</p>
        </div>
      </div>
    </div>
    <div class="col-9 right-sid-wrapper">
      <div class="d-flex mt-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mt-1" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <input class="search-input-wrapper" placeholder="Search todo by title" (keyup)="searchTod($event)"/>
      </div>
      <div *ngFor="let task of filteredTasks ? filteredTasks : tasks; let i=index">
        <hr class="text-truncate">
        <div class="d-flex">
          <div class="container">
            <div class="row">
              <div class="col-1">
                <input type="checkbox" [checked]="task.checked" (click)="completeTaskCheckBox(task,i)"/>
              </div>
              <div class="col-6 text-muted text-truncate" data-target="#exampleModalLong" data-toggle="modal" (click)="setData(task)">
                {{task.title}}
              </div>
              <div class="col-1 tag-wrapper text-truncate" [ngClass]=" task.tag === 'team' ? 'team-wrapper' :  task.tag === 'low' ? 'low-wrapper' : task.tag === 'medium' ?  'medium-wrapper' : task.tag === 'high' ? 'high-wrapper' : task.tag === 'update' ? 'update-wrapper' : ''  " data-target="#exampleModalLong" data-toggle="modal" (click)="setData(task)">
                {{task.tag}}
              </div>
              <div class="col-2 text-muted text-truncate" data-target="#exampleModalLong" data-toggle="modal" (click)="setData(task)">
                {{task.dueDate}}
              </div>
              <div class="col-2">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="deletTask(task)" width="16" height="16" fill="currentColor" class="bi bi-trash text-danger" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <hr class="text-truncate mt-5">
      </div>
      <hr class="text-truncate" *ngIf="noDataFoundFlag === true || filteredTasks?.length === 0 ">
      <p class="text-muted text-truncate text-center" *ngIf="noDataFoundFlag === true || filteredTasks?.length === 0">No Items Found</p>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-wrapper float-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle text-muted">{{editFlage === true ? 'Edit Task' : 'Add Task'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="shadow-lg bg-white rounded mx-auto">
          <form class="form form-vertical" [formGroup]="addTaskForm">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="title-vertical text-truncate">Title</label>
                    <input
                      type="text"
                      id="title-vertical"
                      class="form-control"
                      name="title"
                      placeholder="Title"
                      formControlName="title" 
                    />
                    <div class="text-danger text-truncate" *ngIf="f['title'].errors && f['title'].errors['required'] && f['title'].touched && f['title'].invalid">Title is required</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="assignee-vertical text-truncate">Assignee</label>
                    <select class="form-select dropdown-wrapper" formControlName="assignee"  aria-label="Default select example">
                      <option selected></option>
                      <option value="me">me</option>
                      <option value="Kirav">Kirav</option>
                      <option value="Ravi">Ravi</option>
                      <option value="Rutu">Rutu</option>
                    </select>
                    <div class="text-danger text-truncate" *ngIf="f['assignee'].errors && f['assignee'].errors['required'] && f['assignee'].touched && f['assignee'].invalid">Assignee is required</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="contact-info-vertical text-truncate">Due Date</label>
                    <input
                      type="date"
                      id="contact-info-vertical"
                      class="form-control"
                      name="due-date"
                      formControlName="dueDate" 
                    />
                    <div class="text-danger text-truncate" *ngIf="f['dueDate'].errors && f['dueDate'].errors['required'] && f['dueDate'].touched && f['dueDate'].invalid">Due Date is required</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="tag-vertical text-truncate">Tag</label>
                    <select class="form-select dropdown-wrapper" formControlName="tag"  aria-label="Default select example">
                      <option selected></option>
                      <option value="team">team</option>
                      <option value="low">low</option>
                      <option value="medium">medium</option>
                      <option value="high">high</option>
                      <option value="update">update</option>
                    </select>
                    <div class="text-danger text-truncate" *ngIf="f['tag'].errors && f['tag'].errors['required'] && f['tag'].touched && f['tag'].invalid">Tag is required</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="description"  placeholder="Write Your Description" rows="3"></textarea>
                    <div class="text-danger text-truncate" *ngIf="f['description'].errors && f['description'].errors['required'] && f['description'].touched && f['description'].invalid">Tag is required</div>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" rippleEffect class="btn btn-primary mr-1 text-truncate" data-dismiss="modal"(click)="onAdd()">{{editFlage === true ? 'Edit' : 'Add'}}</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </form>
      </div>
      </div>
    </div>
  </div>
</div>